@model IEnumerable<Sale>

@{
    ViewData["Title"] = "ადმინისტრატორის პანელი";
}

<h1>ადმინისტრატორის პანელი</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Priority</th>
            <th>Image Url</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Priority</td>
                <td>@obj.ImageUrl</td>
                <td>@obj.StartDate</td>
                <td>@obj.EndDate</td>
            </tr>
        }
    </tbody>
</table>