@model IEnumerable<Sale>

@{
    ViewData["Title"] = "ადმინისტრატორის პანელი";
}

<div class="w-100 card border-0 p-4">

    <h1>ადმინისტრატორის პანელი</h1>

    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Admin123456" asp-action="Create" class="btn btn-secondary">
                    Create New Sale
                </a>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Brand Id</th>
                    <th>Sale Type Id</th>
                    <th>Priority</th>
                    <th>Image Url</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    @* <th></th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.Brand.NameGeo</td>
                        <td>@obj.SaleType.NameGeo</td>
                        <td>@obj.Priority</td>
                        <td>@obj.ImageUrl</td>
                        <td>@obj.StartDate</td>
                        <td>@obj.EndDate</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Admin123456" asp-action="Update" asp-route-saleId="@obj.Id"
                                   class="btn btn-success mx-2">Edit
                                </a>
                                <a asp-controller="Admin123456" asp-action="Delete" asp-route-saleId="@obj.Id"
                                   class="btn btn-danger mx-2">Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>