@model IndexHomeVM

<h1>ყველა ფასდაკლება ერთ სივრცეში</h1>

<div>
    <form method="post" class="container" style="background-color:cornflowerblue">
        
        <div class="row px-lg-5 m-lg-4 m-sm-0 px-sm-0" style="--bs-gutter-x:0">            
            <div class="form-group col-6">
                <select id="ddlCustomers" asp-for="Brand.Id" class="form-control" asp-items="@ViewBag.brands"></select>
            </div>
            <div class="form-group col-6">
                <input type="submit" value="გაფილტრე" class="btn btn-primary" />
            </div>
        </div>
        

        <div class="row px-lg-5 m-lg-4 m-sm-0 px-sm-0" style="--bs-gutter-x:0">
            @foreach (var sale in Model.Sales)
            {
                <div class="p-4 col-md-12 col-lg-6">
                    <div class="row" style="border-radius:5px; border: 1px solid #aaa">
                        <div class="col-4 p-2">
                            <img class="d-block w-100" style="border-radius:5px;" src="@sale.ImageUrl">
                        </div>
                        <div class="col-8">
                            <div class="d-flex justify-content-between">
                                <p class="card-title text-warning" style="font-size:xx-large">@sale.Brand.NameGeo</p>
                            </div>
                            <p class="card-text">
                                სფერო: @sale.SaleType.NameGeo
                            </p>
                            <p class="card-text">
                                @sale.Description
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="row pb-3 pt-2">
                                <div class="col-3">
                                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target='#exampleModal-@(sale.Id)'>
                                        ვრცლად
                                    </button>
                                </div>
                                <div class="col-9">
                                    <p class="card-text">
                                        ფასდაკლება აქტიურია: @sale.EndDate.ToString("dd/MM/yyyy")-მდე
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal-@(sale.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" style="border: 1px solid #aaa; border-radius:7px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-3 text-success" id="exampleModalLabel">ფასდაკლების დეტალები</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body m-0">
                                <partial name="_SaleDetail" model="sale" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
         $(function () {
            $("#ddlCustomers").select2();
        });
    </script>
}
